/**********************************************************
 vars
**********************************************************/
@bodybackground: rgb(250,251,253);
@bodyfont: myriad-pro-condensed, sans-serif;

@headerlogo:#56b;
@subtitle:#ccc;
@title:#344530;
@backgroundbutton:#fff;
@colorbutton:#56b;

/**********************************************************
globals
**********************************************************/
body {
  margin:0;
  padding:0;
  font-family:@bodyfont;
  font-weight: bold;
  font-style: normal;
  background-color:@bodybackground;

}
#app, #appindex,html {
  padding:0;
  margin: 0;
}

/**********************************************************
animation
**********************************************************/
@keyframes logo{
  0% {
    color: @headerlogo; 
  }
  50% {
    color: lighten(@headerlogo,15%)  
  }
  100% {
    color: @headerlogo;  
  }
}

/**********************************************************
header
**********************************************************/
.header {
  background-image:url("../images/header.png");
  height:700px;  
  text-align:center;
  background-repeat:no-repeat;
  background-position:center top;
  &__logo{
    color:#56b;
    text-transform:uppercase;
    font-size:60px;
    letter-spacing:3px;
    margin-top:40px;
    span {
      animation: logo 1s infinite;
      &:nth-child(2) {
        animation-delay:0.2s;      
      }    
      &:nth-child(3) {
        animation-delay:0.4s;      
      } 
      &:nth-child(4) {
        animation-delay:0.6s;      
      } 
      &:nth-child(5) {
        animation-delay:0.8s;      
      }  
    }
  }
  &__subtitle {
    color:@subtitle;
    text-transform:uppercase;
    font-size:20px;  
  }
  &__title {
    margin-top:40px;
    font-size:50px;
    margin-bottom:0;
    color:@title;
  }
  &__desc {
    color:@subtitle;
    font-size:20px;
    margin-top:10px;
  }
  &__button {
    font-size:20px;
    text-transform:uppercase;
    background-color:@backgroundbutton;
    padding:10px 30px;
    color:@colorbutton;
    border:1px solid darken(@backgroundbutton,30%);
    box-shadow: 0 0 15px darken(@backgroundbutton,30%); 
    border-radius:24px;
    margin-top:40px;
    &:hover {
      color:darken(@colorbutton,20%);
      background-color:darken(@backgroundbutton,15%);
      transition:0.6s;
    }
  }
 }