doctype html
html(lang='en')
  head
    title CRIOS landing page
    meta(charset='UTF-8')
    meta(name="Author", content="Ivan Shavluga")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://use.typekit.net/glx2tos.css', rel='stylesheet')    
  body
    div#app
      appindex