doctype html
html(lang='en')
  head
    title CRIOS landing page
    meta(charset='UTF-8')
    meta(name="Author", content="Ivan Shavluga")
    meta(name="viewport", content="width=device-width, initial-scale=1")    
  body
    div#app
      appindex(:query="database")